* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
}
.header {
  background-image: url(./images-20260209T083243Z-3-001/images/bg.png);
  width: 100%;
  height: 600px;
  color: white;
}
.header-line {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  background: rgba(42, 96, 108, 0.5);
  border: 2px solid #255a65;
  align-items: center;
}
.sub-menu {
  list-style-type: none;
  display: flex;
  font-size: 25px;
  gap: 25px;
}
.site-name {
  font-size: 25px;
}
.name-of-header {
  text-align: center;
  margin-top: 150px;
  letter-spacing: 5px;
}
.sub-name-header {
  font-size: 20px;
  letter-spacing: 7px;
}
.read-more {
  border: 1px solid white;
  width: 150px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
.image-read {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main {
  background-color: #2a606c;
  width: 100%;
  min-height: 900px;
  padding-bottom: 300px;
}
.rainbow {
  min-width: 700px;
  min-height: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 100px;
}
.auctor {
  background-color: #e84c3d;
  width: 600px;
  height: 350px;
  color: white;
}
.image-rainbow {
  background-color: white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  bottom: -20%;
  transform: translateY(-50%);
}
.text-rainbow {
  text-align: center;
  margin-top: 40px;
}
.lorem-text {
  margin-left: 120px;
  width: 350px;
  text-align: center;
}
.yellow {
  background-color: #fdbd1f;
}
.skyblue {
  background-color: #1bbc9b;
  margin-top: -200px;
}
.violet {
  background-color: #9b58b5;
  margin-top: -200px;
}
.name-tempor {
  color: white;
  font-size: 30px;
  text-align: center;
}
.span-tempor {
  font-size: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.tempor-interdum{
  margin-top: -200px;
}
.tempor-face {
  width: 400px;
  height: 600px;
  border-top: 5px solid #e84c3e;
  margin-top: 100px;
  background-color: #245863;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.all-tempor-face {
  display: flex;
  min-width: 100%;
  min-height: 900px;
  justify-content: center;
  gap: 50px;
}
.text-face {
    text-align: justify;
    color: whitesmoke;
    position: relative;
    top: 30px;
    opacity: 0.5;
}
.face-read{
    background-color: #E84C3E;
    color: white;
    border: 0;
    position: relative;
    top: 50px;   
}
.image-read-face{
    position: absolute;
    transform: translateX(-50%);
    margin-top: 50px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #E84C3E;    
}
.yellow-face{
    border-top: 5px solid #FDBD1F ;
}
.face-yellow{
    background-color: #FDBD1F;
}
.yellow-read{
    border-top: 20px solid #FDBD1F;  
}
.green-face{
    border-top: 5px solid  #1BBC9A;
}
.face-green{
background-color: #1BBC9A;
}
.green-read{
    border-top: 20px solid #1BBC9A;    
}
.image-connect{
    display: flex;
    margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  width: 100px;
  height: 100px;
}
.name-connect{
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}
.border-beat{
  border: 1px #347481 solid;
  width: 200px;
  height: 0px;  
  position: relative;
  top: 15px;
}
.sub-name{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.input-connect{
  display: flex;
  flex-direction: column;
  align-items: center;
   gap: 20px;
}
.connect-line-input{
  border: 1px solid #397D8A;
  background-color:#245863;
  width: 300px;
  height: 50px;
  margin-top: 30px;
  outline: none;
  padding-left: 10px;
  color: white;
  font-size: 20px;
}
.big-input{
  width: 600px;
  height: 100px;
}
.small-input{
  display: flex;
  gap: 30px;
}
.submit{
  border: 1px solid #397D8A;
  color: white;
  width: 160px;
  height: 30px;
  font-size: 20px;
  background-color: #245863;
  position: relative;
  top: 100px;
  left: 720px;
}
.submit::before{
  content: "";
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #245863;
  position: relative;
  top: 49px;
  left: 60px;
}
.footer{
  background-color: #245863;
  min-height: 200px;
  color: white;
}
.twitt{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  font-size: 20px;
}
.footer-img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
}
.text-footer{
  position: relative;
  top: 15px;
}
.border-footer{
  border-bottom: 1px solid grey;
  width: 400px;
  position: relative;
  left: 600px;
  padding-top: 20px;
}
.copyright{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.text-copy::after{
  content: "Designed by: www.alltemplateneeds.com";
  color: yellow;
}